@import url("reset.css");
@import url("pretify.css");
.no-webkit-appearance(@appearance:none)  {
  -webkit-appearance: ;
  -webkit-text-size-adjust: ;
}
.zoom(@zoom:1)  {
  -moz-transform: scale();
  -o-transform: scale();
  -webkit-transform: scale();
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  zoom: ;
}
.newsfeed.tiles .news-item {
  margin-bottom: 20px;
  float: left;
  width: 50%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-behavior: url(/boxsizing.htc);
}
.newsfeed.tiles .news-item .image {
  width: 100%;
}
.newsfeed.tiles .news-item .image img {
  width: 100%;
  border: none;
  height: auto;
}
.newsfeed.tiles .news-item .content {
  width: 100%;
}
.newsfeed.tiles .news-item .content h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 5px 0;
}
.newsfeed.tiles .news-item .content p {
  line-height: 18px;
  font-size: 13px;
  margin-bottom: 10px;
}
.newsfeed.tiles.tiles-4 .news-item {
  width: 25%;
}
.newsfeed.list .news-item {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.newsfeed.list .news-item .image {
  width: 30%;
  height: 110px;
  float: left;
  position: relative;
  overflow: hidden;
}
.newsfeed.list .news-item .image img {
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -95px;
  border: none;
  width: auto;
}
.newsfeed.list .news-item .content {
  float: left;
  width: 70%;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-behavior: url(/boxsizing.htc);
}
.newsfeed.list .news-item .content p {
  line-height: 17px;
  font-size: 12px;
}
.newsfeed.list .news-item .content h3 {
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0;
}
.newsfeed.list .news-item .more {
  line-height: 17px;
  font-size: 12px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .newsfeed.tiles .news-item {
    padding: 0 5px;
  }
}
@media only screen and (max-width: 767px) {
  .newsfeed.tiles .news-item,
  .newsfeed.tiles.tiles-4 .news-item {
    width: 50%;
    padding: 0 5px;
  }
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
.placeholder {
  color: #aaa;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  font-size: 15px;
}
.site-wrapper {
  min-height: 100%;
  margin-bottom: -200px;
}
.site-wrapper:after {
  content: "";
  display: block;
}
footer,
.site-wrapper:after {
  height: 200px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #DDD;
  width: 100%;
}
body {
  background-color: #EEE;
}
a {
  color: #3498db;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  background: #FFF;
  margin-top: 10px;
}
#jPanelMenu-menu {
  background: #222;
}
