@import url("reset.css");
@import url("pretify.css");
.newsfeed.tiles .item {
  margin-bottom: 20px;
}
.newsfeed.tiles .item .image {
  width: 100%;
}
.newsfeed.tiles .item .image img {
  width: 100%;
  border: none;
  height: auto;
}
.newsfeed.tiles .item .content {
  width: 100%;
}
.newsfeed.tiles .item .content h3 {
  font-family: 'Sintony', sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin: 5px 0;
}
.newsfeed.tiles .item .content h3 a {
  color: ;
  text-decoration: none;
}
.newsfeed.tiles .item .content p {
  color: ;
  font-family: Helvetica;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}
* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  font-size: 12px;
}
