/* IMPORTS */

@import url("reset.css");
@import url("pretify.css");
@import url("functions.less");

/* CAN BE DELETED */

@import url("presets.less");

* {
	-webkit-appearance: none;
	-webkit-text-size-adjust: none;
} 

html, body {
	height:100%;
	width:100%;
	font-family: Helvetica;
	font-size:13px;
}