/* IMPORTS */

@import url("reset.css");
@import url("pretify.css");
@import url("functions.less");

/* CAN BE DELETED */

@import url("snippet-newsfeed.less");

* {
	/*-webkit-appearance: none;*/
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
} 

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
.placeholder {
	color: #aaa;
}

html, body {
	height:100%;
	width:100%;
	font-family: Helvetica;
	font-size:13px;
}

/* STICKY FOOTER */

@footerHeight   : 190px;

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -@footerHeight;
}

footer, .push {
    height: @footerHeight;
    .box-sizing();
}